/* Get-Started */

@media (max-width: 1280px) {
    .get-started .heading h2 {
        font-size: 40px;
    }

    .get-started .heading p {
        font-size: 28px;
    }
}

@media (max-width: 1100px) {
    .cover-1{
        display: none;
    }

    .get-started .cover-2 img{
        width: 440px;
    }
}

@media (max-width: 884px) {
    .cover-1 {
        display: none;
    }

    .get-started .heading h2 {
        font-size: 40px;    
    }

    .get-started .heading p {
        width: 100%;
        font-size: 28px;
    }

    .get-started .btn-1 {
        width: 100px;
        height: 45px;
        right: -11%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .get-started .cover-2 img {
        width: 460px;
        height: 460px;
        margin-left: -25px;
    }
}

@media (max-width: 834px) {
    .cover-1 {
        display: none;
    }

    .get-started .heading h2 {
        font-size: 40px;    
    }

    .get-started .heading p {
        width: 100%;
        font-size: 28px;
    }

    .get-started .btn-1 {
        width: 100px;
        height: 45px;
        right: -14%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .get-started .cover-2 img {
        width: 460px;
        height: 460px;
        margin-left: -25px;
    }
}

@media (max-width: 820px) {
    .cover-1 {
        display: none;
    }

    .get-started .heading h2 {
        font-size: 40px;    
    }

    .get-started .heading p {
        width: 100%;
        font-size: 28px;
    }

    .get-started .btn-1 {
        width: 100px;
        height: 45px;
        right: -14%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .get-started .cover-2 img {
        width: 460px;
        height: 460px;
        margin-left: -25px;
    }
}

@media (max-width: 768px) {
    .cover-1 {
        display: none;
    }

    .get-started .heading h2 {
        font-size: 40px;    
    }

    .get-started .heading p {
        width: 100%;
        font-size: 28px;
    }

    .get-started .btn-1 {
        width: 100px;
        height: 45px;
        right: -17%;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .get-started .cover-2 img {
        width: 460px;
        height: 460px;
        margin-left: -25px;
    }

    .get-started{
        display: grid;
        grid-template-columns: auto;
        height: 50vh;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .cover-1 {
        display: none;
    }
    
    .get-started {
        display: grid;
        grid-template-columns: auto;
        height: 50vh;
    }

    .get-started .heading {
        margin-top: 150px;
        margin-right: 22px;
    }

    .get-started .heading h2 {
        font-size: 30px;    
        text-align: center;
    }

    .get-started .heading p {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .get-started .cover-2 img {
        display: none;
    }
    
    .get-started .btn-1 {
        width: 100px;
        height: 45px;
        right: 20%;
        margin-bottom: 20px;
        margin-right: 37px;
    }

    .title-heading h2 {
        font-size: 30px;
    }

    .title-heading p {
        font-size: 18px;
    }
    
    .form {
        margin-top: 30px;
        margin-left: 5%;
        height: 95vh;
    }

    .form-group {
        margin-top: 50px;
        width: 105%;
        height: 100%;
    }

    input {
        width: 80vw;
        height: 5vh;
    }
    
    .footer {
        display: block;
        margin-left: -24px;
    }

    .footer span img{
        margin-top: -5px;
    }

    .footer h5 {
        margin-bottom: 7px;
        margin-left: 3%;
        text-align: center;
    }

    .done {
        height: 100vh;
    }

    .cover img {
        width: 500px;
        height: 500px;
        margin-left: 9%;
    }

    .thanks {
        width: 100%;
        top: 80%;
        left: 51%;
    }

    .thanks h2 {
        font-size: 21px;
    }

    .container-cover{
        width: 85%;
    }
}

@media (max-width: 532px) {
    .get-started .button{
        display: none;
    }

    .get-started .res-btn{
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .get-started .res-btn a{
        height: 50px;
        width: 120px;
        border: 3px solid var(--main-color);
        border-radius: 18PX 0 18PX 18PX;
        font-size: 20px;
        color: var(--main-color);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
    }

    .get-started .res-btn a:hover{
        color: #d1a1ff;
        border-radius: 18px 18px 18px 0;
    }
    body{
        overflow-x: hidden;
    }
}

@media (max-width: 400px) {
    .form {
        margin-left: 50%;
    }

    .thanks {
        width: 98%;
        top: 80%;
        left: 76.5%;
    }

    .thanks h2 {
        font-size: 18px;
    }

    .cover img {
        width: 460px;
        height: 460px;
        margin-left: 30%;
    }
}

@media (max-width: 450px) {
    .get-started .heading h2 {
        font-size: 36px;    
        text-align: center;
        margin-right: 1px;
    }

    .get-started .heading p {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-right: 1px;
    }

    .form {
        margin-left: -1%;
    }

    .container{
        padding: 0;
    }
}

@media (max-width: 360px) {
    .get-started .heading h2 {
        font-size: 30px;    
        text-align: center;
    }

    .get-started .heading p {
        width: 100%;
        font-size: 17px;
        text-align: center;
    }

    .form {
        margin-left: 5%;
        height: 105vh;
    }

    .form-group {
        margin-top: 20px;
    }

    .footer h5 {
        margin-bottom: 5px;
        margin-left: 55%;
        text-align: center;
    }
}

@media (max-height: 800px) {
    .get-started .heading h2 {
        font-size: 32px;    
        text-align: center;
        margin-right: -8px;
    }

    .get-started .heading p {
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-right: 1px;
    }

    .form {
        margin-left: 16%;
        height: 105vh;
    }

    .thanks {
        width: 98%;
        top: 80%;
        left: 75%;
    }

    .thanks h2 {
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    .get-started .heading h2 {
        font-size: 40px;
        text-align: right;
    }

    .get-started .heading p {
        font-size: 28px;
    }

    .form {
        margin-left: 0%;
        height: 105vh;
    }

    .form-group {
        margin-top: 20px;
    }

    .thanks {
        width: 98%;
        top: 85%;
        left: 50%;
    }

    .thanks h2 {
        font-size: 22px;
    }
}

@media (max-width: 360px) {
    .get-started .heading h2 {
        font-size: 30px;    
        text-align: center;
    }

    .get-started .heading p {
        width: 100%;
        font-size: 17.4px;
        text-align: center;
    }

    .form {
        margin-left: 5%;
        height: 105vh;
    }

    .form-group {
        margin-top: 20px;
    }

    .thanks {
        width: 98%;
        top: 85%;
        left: 77%;
    }

    .thanks h2 {
        font-size: 18px;
    }
}


@media (max-width: 361px) {
    .footer h5{
        font-size: 9px;
    }
}
/* Done & Form & Get-Started is End */
